* {
    font-family: 'Poppins';
    font-style: normal;
    margin:  0;
    padding:  0;
    box-sizing:  border-box;
  }

  @media (min-width: 320px) { 

}

@media (min-width: 375px) { 

}


@media (min-width: 576px) { 

}


@media (min-width: 768px) { 

}
  

@media (min-width: 992px) { 

}


@media (min-width: 1200px) { 

}
